paper-progress
  transition: opacity 1s

#initTemaFilterButton
  &.fulfilled
    background-color: var(--paper-green-100)
    color: white;

  &.rejected
    color: var(--paper-pink-100)
    background-color: var(--paper-pink-100)

main > *
  display block
  margin-top 1em